<a href="https://colab.research.google.com/github/HEADHOTZ/PROGRAMMING-FUNDAMENTAL/blob/main/Lab3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 3

3.1 จากข้อมูลใน List ให้หาผลบวกเฉพาะตัวเลขคู่ โดยใช้ While Loop

list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]

In [44]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 13]
i = 0
sum = 0

while i < len(list1):
  if list1[i] % 2 == 0:
    sum = sum + list1[i]
  i += 1

print(sum)

20

3.2 จากข้อมูลใน List ให้หาตัวเลขที่มีค่ามากที่สุดเป็นอันดับ 2 ใน List โดยใช้ While Loop

list = [-5, 7, 10, 1, 2, 5, 8, 100]

In [45]:
list1 = [-5, 7, 10, 1, 2, 5, 8, 100]
i = 0
min1 = list1[0]
min2 = list1[1]

while i < len(list1):
  if list1[i] < min1:
    min1 = list1[i]
  i += 1

i = 0

while i < len(list1):
  if list1[i] != min1:
    if list1[i] < min2:
      min2 = list1[i]
  i += 1

print(min1)
print(min2)

-5
1

3.3 เขียนโปรแกรมรับค่า n แล้วคำนวณค่าต่อไปนี้

$1/1^2 + 1/2^2 + 1/3^2 + 1/4^2 + 1/5^2 + … +  1/n^2$

In [46]:
num = int(input())
sum = 0

if num == 0:
  num = int(input("Please Enter Again: "))

if num > 0:
  for i in range(1,num+1):
    sum += 1/(i**2)
  print(sum)
else:
  num = num * -1
  for i in range(1,num+1):
    sum += 1/(i**2)
  print(sum * -1)

5
1.4636111111111112

3.4 จากข้อมูลใน List ให้ตรวจสอบว่า ข้อมูลในลิสต์ s เรียงลำดับจากน้อยไปมากหรือไม่ ตอบเป็น True, False

	[1,2,3,4,5], [5,4,3,2,1]

In [47]:
list1 = [5,4,3,2,1]
found_big_data = 0

for i in range(0,len(list1)):
  for j in range(i+1,len(list1)):
    if list1[i] > list1[j]:
      found_big_data += 1

if found_big_data > 0:
  print('False')
else:
  print('True')

False

3.5  ให้ x เป็นลิสต์เก็บคะแนน ต้องการปรับช่องที่มีค่าน้อยกว่า 30 ให้มีค่าเพิ่มอีก 10% แสดงผลลัพธ์ เป็น List

	x = [60, 70, 72, 65, 55, 43, 20, 90, 12]

In [48]:
x = [60, 70, 72, 65, 55, 43, 20, 90, 12]
new_score = []

for i in x:
  if i < 0:
    print("Error score must be positive value")
    new_score.clear()
    break
  if i < 30:
    i = i + (i * 0.1)
  new_score.append(i)

print(new_score)

[60, 70, 72, 65, 55, 43, 22.0, 90, 13.2]

3.6 ต้องการหาผลรวมของคะแนนที่เก็บในลิสต์ x โดยขอไม่รวมคะแนนที่น้อยสุดอันดับ 2

	x = [15, 80, 75, 62, 55, 43, 99, 67, 10]

In [70]:
x = [15, 80, 75, 62, 55, 43, 99, 67, 10]
sum = 0

for i in range(0, len(x)):
  for j in range(i+1, len(x)):
    if x[i] > x[j]:
      temp = x[i]
      x[i] = x[j]
      x[j] = temp

for i in x:
  if i != x[1]:
    sum += i

print('Total =',sum)

Total = 491

3.7 จากข้อมูลใน List ให้แสดง string ที่มีความยาวมากกว่า 2 และมีอักษรตัวแรกกับตัวสุดท้ายเหมือนกัน แสดงบรรทัดละ 1 ตัว

	lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']

In [50]:
lst = ['abba', 'a', 'aa', 'alcaza', 'python', 'stores', 'program', 'execute']
for i in lst:
  if len(i) > 2:
    if i[0] == i[-1]:
      print(i)

abba
alcaza
stores
execute

3.8 จากข้อมูลใน List ให้ลบข้อมูลที่มีซ้ำกันให้เหลือเพียงตัวเดียว ให้แสดงผลเป็น list เช่น

[‘a’,’a’] => [‘a’]

lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']

In [51]:
lst = ['a', 'a', 'b', 'a', 'b', 'c', 'd']
filter_lst = []

for i in lst:
  for j in range(len(lst)):
    if i != lst[j] and i not in filter_lst:
      filter_lst.append(i)

print(filter_lst)

['a', 'b', 'c', 'd']

3.9 จากข้อมูลใน List ให้แสดงว่าแต่ละข้อมูลใน List มีจำนวนเท่าไร คือ มีซ้ำกันกี่ตัวใน List  ให้แสดงบรรทัดละตัว เช่น

	[1, 2, 3, 4, 1, 2, 3, 1, 2, 1]
	1 = 4
	2 = 3
	3 = 2
	4 = 1
  
	lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]

In [73]:
lst = [1,2,3,4,5,1,2,3,4,1,2,3,1,2,1]
num_lst = []
cnt = 0

for i in lst:
  for j in range(len(lst)):
    if i == lst[j] and i not in num_lst:
      num_lst.append(i)

for i in num_lst:
  cnt = 0
  for j in lst:
    if i == j:
      cnt += 1
  print(i,'=',cnt)

1 = 5
2 = 4
3 = 3
4 = 2
5 = 1

1.	เขียนโปรแกรมเพื่อหาผลบวกของอนุกรม 5+10+15+20+… จนถึง n เมื่อ n เป็นตัวเลขที่รับเข้ามาทางคีย์บอร์ด

In [53]:
num = int(input())
sum = 0

for i in range(1,num+1):
  if i != num:
    print(i*5,'+',sep='',end='')
  else:
    print(i*5,'= ',end='')
  sum += i*5

print(sum)

10
5+10+15+20+25+30+35+40+45+50 = 275

2.	จงเขียนโปรแกรมที่จะหาตัวเลขระหว่าง 2000-3200 ที่หารด้วย 7 ลงตัว แต่หารด้วย 5 ไม่ลงตัว
การแสดงผลให้แสดงตัวเลขและคั่นด้วยเครื่องหมาย , ในบรรทัดเดียว

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [54]:
for i in range(2000,3200):
  if i % 7 == 0 and i % 5 > 0:
    print(i,end=',')

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

3.	จากข้อมูลใน List ต้องการนับว่า มีข้อมูลกี่คู่ในลิสต์ที่ตัวทางซ้ายมีค่ามากกว่าตัวทางขวา (ไม่จำเป็นต้องอยู่ติดกัน)

x = [1, 5, 4, 2, 1]

In [74]:
#DO
x = [1, 5, 4, 2, 1]

morethan = 0

for i in range(len(x)):
  for j in x[i:]:
    if x[i] > j:
      morethan += 1

print(morethan)

6

4.	ให้ตรวจสอบว่า String ที่รับเข้ามาผ่านคีย์บอร์ด เป็นตัวอักษรพิมพ์เล็ก หรือตัวอักษรพิมพ์ใหญ่ อย่างละกี่ตัว ตอบ 2 บรรทัด พิมพ์เล็ก 1 บรรทัด พิมพ์ใหญ่ 1 บรรทัด

klfjslkgD;FGK;LSDKdl;gfk;
=> 18,3

In [56]:
import string

text = input()
cnt_upper = 0
cnt_lowwer = 0

for i in text:
  if i in string.ascii_uppercase:
    cnt_upper += 1
  if i in string.ascii_lowercase:
    cnt_lowwer += 1

print("Lower =",cnt_lowwer)
print("Upper =",cnt_upper)

klfjslkgD;FGK;LSDKdl;gfk;
Lower = 13
Upper = 8

5.	จงเขียนโปรแกรมที่หาตัวเลขระหว่าง 1000 และ 3000 ที่ทุกหลักเป็นเลขคู่ (รวม 1000 และ 3000) โดยแสดงผลในรูปแบบตัวเลขคั่นด้วย comma

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

In [57]:
for i in range(1000, 3001):
  i_str = str(i)
  if int(i_str[0]) % 2 == 0 and int(i_str[1]) % 2 == 0 and int(i_str[2]) % 2 == 0 and int(i_str[3]) % 2 == 0:
    print(i,end=',')

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888,

6.	ในคณิตศาสตร์ ตัวหารร่วมมาก หรือ ห.ร.ม. (greatest common divisor: gcd) ของจำนวนเต็มสองจำนวนซึ่งไม่เป็นศูนย์พร้อมกัน คือจำนวนเต็มที่มากที่สุดที่หารทั้งสองจำนวนลงตัว
จงหา ห.ร.ม. ของจำนวนเต็ม 2 จำนวนที่กำหนดให้
ข้อมูลนำเข้า
บรรทัดแรกเพียงบรรทัดเดียว ประกอบไปด้วยจำนวนเต็มบวกสองจำนวน a และ b มีค่าไม่เกิน 9999
ข้อมูลส่งออก
ในบรรทัดแรกของข้อมูลส่งออก ให้แสดงค่า ห.ร.ม. ของ a และ b
เช่น 	Input : 12 14		Output : 2
	Input : 7 3		Output : 1

678
345
=> 3

In [58]:
n1, n2 = [int(e) for e in input("Input : ").split()]

reinput_state = False

if n1 == 0 and n2 == 0:
  reinput_state = True
elif n1 < 0 or n2 < 0:
  reinput_state = True
else:
  reinput_state = False

if reinput_state == True:
  n1, n2 = [int(e) for e in input("Input : ").split()]
else:
  while n2 != 0:
    temp = n2
    n2 = n1 % n2
    n1 = temp

print('Output :',n1)

Input : 678 345
Output : 3

7.	จงเขียนโปรแกรมที่คำนวณค่าของ a+aa+aaa+aaaa เมื่อรับข้อมูลเป็นตัวเลข 1 หลัก

Input : 9

Output : 11106 (=9+99+999+9999)

In [59]:
#Do
n = 5

print('Input :',n)

i = 1
num = ''
sum = 0

if 0 <= n < 10:
  while i <= 4:
    num = str(n) * i
    sum += int(num)
    i += 1

  print('Output :', sum, f'{str(n)*1}+{str(n)*2}+{str(n)*3}+{str(n)*4}')

else:
  print("Input is much be 0 - 9")

Input : 5
Output : 6170 5+55+555+5555

8.	แปลงเลขโรมัน เป็นเลขอารบิก เช่น MMMDCCXXIV = 3724 (ค้นหาวิธีทางทางอินเตอร์เน็ต)

In [60]:
roman_num = 'MMMDCCXXIV'
val = 0

roman_val = [['M',1000],
             ['D',500],
             ['C',100],
             ['L',50],
             ['X',10],
             ['V',5],
             ['I',1]
           ]

print(roman_val[0][1])
total = 0
prev_value = 0

for char in roman_num:
    for pair in roman_val:
        if pair[0] == char:
            value = pair[1]
            break

    if value > prev_value:
        total += value - 2 * prev_value
    else:
        total += value

    prev_value = value

print(total)

1000
3724

9.	อนุกรม Fibonacci คือ อนุกรมที่ตัวที่ 3 เป็นต้นไปเกิดจาก 2 ตัวหน้าบวกกัน จงเขียนโปรแกรมแสดงอนุกรม
เช่น ตั้งแต่ 0-1000 คือ 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987

In [61]:
a = 0
b = 1

while a <= 1000:
    print(a, end=",")
    temp = a
    a = b
    b = temp + b

if b <= 1000:
    print(b, end="")

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

10.	ให้สร้างโปรแกรม True Love โดยรับชื่อภาษาอังกฤษของ 2 คน จากนั้นค้นหาว่ามีตัวอักษรอยู่ในคำว่า True และ Love รวมกันกี่ตัว จากนั้นนำมาต่อกันเป็น % ตามรูป (ไม่ต้องแสดงเครื่องหมาย %)

In [68]:
name1 = input("Your name : ")
name2 = input("His/Her name : ")

cnt_t = 0
cnt_r = 0
cnt_u = 0
cnt_e = 0

cnt_l = 0
cnt_o = 0
cnt_v = 0

for i in name1:
  if i == 't' or i == 'T':
    cnt_t += 1
  elif i == 'r' or i == 'R':
    cnt_r += 1
  elif i == 'u' or i == 'U':
    cnt_u += 1
  elif i == 'e' or i == 'E':
    cnt_e += 1
  elif i == 'l' or i == 'L':
    cnt_l += 1
  elif i == 'o' or i == 'O':
    cnt_o += 1
  elif i == 'v' or i == 'V':
    cnt_v += 1
  elif i == 'e' or i == 'E':
    cnt_e += 1

for i in name2:
  if i == 't' or i == 'T':
    cnt_t += 1
  elif i == 'r' or i == 'R':
    cnt_r += 1
  elif i == 'u' or i == 'U':
    cnt_u += 1
  elif i == 'e' or i == 'E':
    cnt_e += 1
  elif i == 'l' or i == 'L':
    cnt_l += 1
  elif i == 'o' or i == 'O':
    cnt_o += 1
  elif i == 'v' or i == 'V':
    cnt_v += 1
  elif i == 'e' or i == 'E':
    cnt_e += 1

print(cnt_t+cnt_r+cnt_u+cnt_e,end='')
print(cnt_l+cnt_o+cnt_v+cnt_e)

Your name : Krytie Lee Yandoli
His/Her name : Aubrey Drake Graham
118